db:
    image: mongo:3.0
    ports:
        - 27017
web:
    build: .
    command: node ./bin/www
    volumes:
        - .:/webapp_root
    ports:
        - 3000:3000
    links:
        - db
    environment:
        PORT: 3000
        JWT_SECRET: SetJwtTokenSecretHere
        JWT_EXPIRES: 20160
        ADMIN_KEY: use_this_to_create_admin_user
